@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@inject CheeseProvider CheeseProvider
@inject ShoppingCart ShoppingCart
@inject ProtectedSessionStorage ProtectedSessionStorage

<h3>StoreItem</h3>

@foreach (var cheese in FilteredCheeses)
{
    <div class="col">
        <StoreItem Cheese="cheese" />
    </div>
}
@if (!FilteredCheeses.Any())
{
    <p>No cheeses found 😔</p>
}

<EditForm Model="quantity" OnSubmit="AddToCart">
    <div class="row">_</div>
</EditForm>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;
    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStorage.SetAsync("cart", ShoppingCart.GetItems());
    }

    private IEnumerable<Cheese> cheeses;
    private IEnumerable<Cheese> filteredCheeses;
    private IEnumerable<Cheese> FilteredCheeses
    {
        get
        {
            return filteredCheeses.Where(GetSearchCriteria);
        }
        set
        {
            filteredCheeses = value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        cheeses = await CheeseProvider.GetAllCheesesAsync();
        filteredCheeses = cheeses;
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }
    private string searchTerm = "";
    private bool GetSearchCriteria(Cheese cheese)
    {
        if (string.IsNullOrWhiteSpace(searchTerm)) return true;

        return cheese.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            || cheese.Type.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            || cheese.Description.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            || cheese.Strength.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
    }
}
